@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office 365 SharePoint file management</h1>
    <p class="lead">This sample demonstrates how to upload files to SharePoint Online using Office 365 Authentication and AAD bearer tokens in a multi-tenant application.</p>
    <p>@Html.ActionLink("Start Here »", "Sites", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>